article {
    padding: 20px;
}
body {
    font-size: 80%;
    font-family: helvetica;
    border-style: solid;
    border-width: 10px;
    border-color: #d8d8d8;
}
footer {
    font-size: 80%;
    text-align: center;
    clear: both;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #171515;
    margin-top: 0;
    padding: 0;
}

h1 {
    font-family:  helvetica;
    margin-top: 5px;
    margin-bottom: 0px;
    text-shadow: 3px 3px 3px #888888;
}
h2 {
    text-shadow: 3px 3px 3px #888888;
}
header {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #050505;
}
nav {
    background: #eeebeb;
    font-weight: bold;
    float: left;
    height: 600px;
    padding-right: 24px;
    margin-right: 10px;
}
.navlinks {
    display: block;
    border: 2px solid #a1a1a1;
    padding: 4px 10px;
    background: #1e31c2;
    border-radius: 5px;
    text-decoration: underline;
    box-shadow: 5px 5px 5px #888888;
}

.floatright {
    float: right;
    clear: right;
    margin: 10px;
}

#img_scale {
    -ms-transform: scale(1.5); /* Microsoft Edge */
    -webkit-transform: scale(1.5); /* Chrome and Safari */
    transform: scale(1.5);
}